media/*.avi filter=lfs diff=lfs merge=lfs -text
media/*.webm filter=lfs diff=lfs merge=lfs -text
media/*.mp4 filter=lfs diff=lfs merge=lfs -text
media/*.mov filter=lfs diff=lfs merge=lfs -text
media/*.mkv filter=lfs diff=lfs merge=lfs -text
